.home{
	margin: 0 auto;
	padding-right: 0%;
	padding-left: 0%;
}

.homeDivOne {
	/*background-color: #2E4DB2;*/
	/*background: url(../imgs/background1.jpg);*/
	/*background-size: 100% 100%;*/
	/*background: blue;*/
	width: 100%;
	height: 400px;
	/*opacity: .6;*/
	padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;
    /*z-index: 4;*/
}

.homeDivOneImg {
	/*background: red;*/
	/*background: url(../imgs/logo.jpg);*/
	/*width: 100%;
	height: 400px;*/
	/*opacity: 1;*/
	padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;
    /*z-index: 99;*/
}

#wrapper {
	background: url(../imgs/background1.jpg);
	background-size: 100% 100%;
    z-index:1;
    opacity:1;
}
#contentOrWhatever {
	/*background: red;*/
	/*background: url(../imgs/background2.jpg);*/
	background-color: #1E00B3;
	/*background-size: 100% 100%;*/
    z-index:99;
    opacity:.6;
}

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }

.homeDivSubOne {
	margin: 0;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 5%;
	width: 60%;
	height: 300px;
}

.homeDivSubOne h1 {
	color: white;
	font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	/*font-size: 1.3em;*/
	text-align: left;
}

.homeDivSubOne p {
	color: white;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.3em;
	text-align: left;
}

.homeDivTwo p {
	color: #6B6868;
}

.homeDivTwo h1 {
	color: #514F4F;
}

.homeDivTwo {
	/*background-color: yellow;*/
	width: 100%;
	height: 600px;
	padding-left: 5%;
	padding-right: 5%;
	display: inline-block;
}

.homeDivSubTwo {
	float: right;
	/*background-color: green;*/
	width: 40%;
	height: 30px;
	padding-left: 5%;
	padding-right: 10%;
}

.homeDivSubThree {
	float: left;
	/*background-color: brown;*/
	width: 40%;
	height: 30px;
	padding-left: 5%;
	padding-right: 10%;
}


