<section id="container-fluid">
    <div class="home">
	    <div id="wrapper">
		    <div id="contentOrWhatever">
			    <div class="homeDivOne" ng-model = "about">
			        <div class="homeDivSubOne">
			            <h1>{{about.title}}</h1>
					    <p>{{about.content}}</p>
				    </div>

				    <img src="{{about.img}}">
			    </div>
		    </div>
		    <!-- <div id="contentOrWhatever">
			    <div class="homeDivOneImg"></div>
		    </div> -->
	    </div>
	    <!-- <div class="homeDivOneImg">
	    	<div class="homeDivSubOne">
	            <h1 class="homeDivSubOneFont">{{about.title}}</h1>
			    <p class="homeDivSubOneFont">{{about.content}}</p>
		    </div>
	    </div> -->
	    <div class="homeDivTwo">
	        <div class="homeDivSubThree" ng-model = "about2">
            	<h1>{{about2.title}}</h1>
		        <p>{{about2.content}}</p>
		    </div>
		    <div class="homeDivSubTwo" ng-model = "about3">
	            <div ng-model = "about3">
	            	<h1>{{about3.title}}</h1>
			        <p>{{about3.content}}</p>
	            </div>

	            <div ng-model = "about4">
	            	<h1>{{about4.title}}</h1>
			        <p>{{about4.content}}</p>
	            </div>
		    </div>
	    </div>
    </div>
</section>